@CHARSET "ISO-8859-1";

* {
	padding: 0;
	margin: 0;
}

body {
	/* font-family: 'arial', sans-serif; */
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
}

div {
	display: block;
}

#wapper {
	margin: auto;
	overflow: hidden;
	width: 100%;
	max-width: 960px;
}

img {
	border: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.left{
	float:left;
}
a:HOVER{
	cursor: pointer;
}
[id^=amobi_widget_13^} iframe{
	height: 250px !important;
}